* {
    /* --- UNCOMMENT FOR BORDER VIEW --- */
    /* border: 1px, solid, red; */

    /* NOTE: COLOR THEME FROM small.css IS AVAILABLE TO HERE, SO DO NOT DUPLICATE COLOR THEME! */
}

/* DISPLAY SWITCH SETTINGS */
.display-switch {
    margin-bottom: 1rem;
}

.btn-grid,
.btn-list {
    width: 44px;
    height: 44px;

}

.bi-grid,
.bi-list {
    width: 33px;
    height: 33px;



}


/* CARD DISPLAY SETTINGS - GRID */
.grid {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;


}

.grid-card {
    /* PLACEHOLDER COLOR */
    background-color: pink;

    border: 1px black solid;
    padding: 15px;
    /* width: 10rem; */
    width: 75%;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


/* CARD DISPLAY SETTINGS - LIST */
.list {
    /* display: block; */
    justify-content: center;
    align-content: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.list-card {
    /* PLACEHOLDER COLOR */
    background-color: mediumpurple;

    border: 1px black solid;
    padding: 3px;
    /* display: flex;  */
    margin-bottom: .5rem;
}

.list-card section {
    /* border: solid 1px red; */
}


/* INDIVIDUAL ELEMENT TRAITS */

section {
    /* color: orange; */
}

p {
    /* color:orange; */
}

a {
    /* color: orange; */
}

img {
    /* border: 1px solid black; */
}