* {
    /* border: solid 1px red; */
}

.img-wrapper {
    margin: 0 auto;

}

.img-wrapper img {
    width: 100%;
}

h2 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.cards {
    /* background-color: teal; */
    /* color: blue; */

    /* display: flex; */
    /* text-align: center; */

    padding: 10px;
    margin: 10px;
}

.cards-upper {}


.card {
    /* background-color: lightblue; */
    /* display: inline-block; */
    /* text-align: center; */
    /* margin: 0 auto; */

    /* justify-content: center; */
    /* grid-template-columns: ; */

    border: 1px solid var(--black);
    margin: 5px;

}

.weather-details {
    display: flex;
    /* text-align: center; */
    margin: 0 auto;

}

.weather-details img {
    /* NOT SURE ABOUT THE COLOR CHOICE HERE */
    background-color: var(--gray);

    /* border: 1px; */
    border-radius: 50px;


}

.weather-details span {
    /* align-self: center; */
    text-align: left;
    margin: 0 auto;
}

section.weatherCard {
    /* WHY DOESN"T THIS EXTEND BEYOND THE TEXT WIDTH??? */

    /* background-color: pink; */

    margin: 0 auto;


}

span {
    /* text-align: center; */
}

section {

    /* text-align: center; */
}

.card-weather {

    /* display: flex; */
    /* text-align: left; */

    /* background-color: blue; */
}

#weather-icon {

    /* background-color: grey; */
    width: 5rem;
    height: 5rem;
    /* display: flex; */
}


#weather-today {
    /* display: flex; */
}





.spotlight-card {
    /* color: lightgreen; */
}

.spotlight-card h3 {
    /* margin-top: 2; */
}

.spotlight-card img {
    display: block;
    margin: 1rem auto;
}