@media only screen and (min-width: 38rem) {



    .cards-upper {
        /* color: blue; */
        display: flex;
        /* flex-wrap:wrap; */

    }

    .card {
        /* background-color: yellowgreen; */
        /* min-width: fit-content; */
        /* max-width: 200px; */

        /* padding: 10px; */
        /* margin: 5px; */
    }

h2 {
    /* width: 100%; */
    
}

    .current-events {
        /* color: pink; */
        width: 500px;
    }

    .card-weather {

        /* display: flex; */
        /* text-align: left; */

        /* background-color: blue; */
    }



    #weather-today {
        /* display: flex; */
    }



    .weatherCard {
        /* color: orange; */
    }

    #spotlight {
        display: flex;
    }

    .spotlight-card {
        width: fit-content;
        padding: 10px;
    }

}