* {
    /* UNCOMMENT FOR BORDER VIEW */
    /* border: 1px, solid, red; */
    font-family: "Noto Sans JP", sans-serif;
}

:root {

    /* +++++ LIGHT MODE COLOR SCHEME +++++ */
    --color1: ;
    --color2: ;
    --color3: ;
    --black: #000000;
    --white: #ffffff;

    --gray: #bbbbbb;
    /* +++++ END LIGHT MODE COLOR SCHEME +++++ */

    /* === NOTE: DARK MODE COLOR SCHEME IS AT VERY END OF DOCUMENT === */

}

/* ------------------------ COLOR SETTINGS ------------------------ */

body {
    background: var(--white);
    color: var(--black);

    text-align: center;
}

.darkmode,
.hamburger {
    color: var(--black);
}

.logo {
    background-color: var(--black);
}

.logo svg {
    fill: var(--white);
}

.site-logo svg {
    fill: var(--black);
}

.bi-linkedin {
    /* fill: var(--white); */
    /* background-color: var(--white); */
    /* border: 1px solid var(--black); */
}

/* .logo .bi-linkedin {
    background-color: var(--white);
    border-radius: 25px;
} */


/* ------------------------ END COLOR SETTINGS ------------------------ */


/* DARKMODE BUTTON */
.darkmode {
    background: none;
    border: none;
    /* color: var(--black); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.darkmode::before {
    content: "\25D1";
    font-size: 2rem;
}

/* ------------------- HAMBURGER NAVI ------------------- */

.hamburger {
    background: none;
    border: none;
    /* color: var(--black); */
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
    font-size: 2rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.navigation {
    display: none;
    text-align: center;

    width: 100%;
    order: 1;

}

.navigation.show {
    display: block;
    margin-top: 1rem;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--color3);
    text-decoration: none;
    border-bottom: solid 1px var(--gray);
    align-items: center;
}

.navigation li.current {
    background-color: var(--gray);
}

.navigation a:hover {
    background-color: var(--black);
    color: var(--white);
}



.site-logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.site-logo svg {
    /* display:flex; */
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

/* FOOTER STUFF */

footer {
    padding-left: 1rem;
}

footer div {
    padding-top: 1rem;
}

.social {

    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.logo {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.logo svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* border: solid 1px var(--black); */
    /* border-radius: 30px; */

}

.social a:hover {
    background-color: var(--gray);
}

.textbox {
    text-align: left;
}



/* +++++ DARKMODE COLOR SCHEME +++++ */
/* NOTE: THIS MUST COME AFTER OTHER COLOR DESIGNATIONS TO BE INHERITABLE!!! */
body.darkmode-theme {
    /* not necessarily inverted, though black/white are */
    --color1: ;
    --color2: ;
    --color3: ;
    --black: #ffffff;
    --white: #000000;
    --gray: #888888;
}

/* +++++ END DARKMODE COLOR SCHEME +++++ */