* {
    /* UNCOMMENT FOR BORDER VIEW */
    /* border: 1px, solid, red; */

    font-family: "Noto Sans JP", sans-serif;

    /* COLOR SCHEME */

    --color1: ;
    --color2: ;
    --color3: ;
    --black: #000000;
    --white: #ffffff;
    --gray: #bbbbbb;


}

