#preview {
    padding: 0.5rem;
    /* background: orange; */

    border: solid 1px black;

}

.weather {
    display: flex;
    align-items: center;

}

.weather div {
    margin: 5px;
}


.weather img {
    /* background: rgb(110, 210, 250); */
    background-color: lightgray;
    border: 1px;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
}





.event-card {
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
}