@media only screen and (min-width: 38rem) {
    /*  */

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;

    }

    .navigation ul {
        display: flex;

    }

    .navigation a {
        height: 2rem;
        /* align-items: center; */
        border: none;
        display: flex;
        /* padding: 10px 10px; */

    }


























}