* {
    /* border: 1px solid red; */
}

:root {
    /* +++++ LIGHT MODE COLOR SCHEME +++++ */
    --color1: ;
    --color2: ;
    --color3: ;
    --black: #000000;
    --white: #ffffff;

    --gray: #bbbbbb;
    /* +++++ END LIGHT MODE COLOR SCHEME +++++ */

    /* === NOTE: DARK MODE COLOR SCHEME IS AT VERY END OF DOCUMENT === */
}

body {
    font-family: "Noto Sans JP", sans-serif;

    color: var(--black);
    background-color: var(--white);



}

/* HAMBURGER & NAVIGATION MENU */
#ham-btn {
    margin-left: auto;
    /* background-color: orange; */
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
    font-size: 2rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.navigation {
    display: none;
    text-align: center;

    width: 70%;

    /* margin-left: 50%; */

    position: absolute;
    top: 4rem;
    right: 0;
    background-color: var(--white);
    z-index: 1000;



}

.navigation.show {
    /* I WANT to have the navigation overlap the Hero Image, rather than displace it */
    display: block;
    /* margin-top: 1rem; */

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.navigation a {
    display: block;
    padding: .8rem 10px;

    text-decoration: none;
    border: solid 1px var(--gray);
    align-items: center;
}

.navigation .current {
    background-color: var(--gray);

}

.navigation a:hover {
    background-color: var(--black);
    color: var(--white);
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
    background-color: black;
}


/* END HAMBURGER & NAVIGATION MENU */

header {
    border-bottom: solid 1px black;
}

header span {
    font-size: 2rem;
}

.hero {
    /*  */
    justify-self: center;
    align-self: center;
}

.hero img {
    /* display: flex; */
    width: 100%;

    justify-self: center;
    align-self: center;

    object-fit: cover;
}

h1 {
    text-align: center;
    /* margin-left: 1rem; */
}

h2 {
    margin: 1rem;
}

.textbox {
    margin: 1rem;
}

.eventbox {
    margin: 1rem;
}

main {}

footer {
    border-top: solid 1px black;
    /* display: flex; */
    margin-top: 1rem;
}

.footer-textbox {
    /* background-color: orange; */
    width: fit-content;
    padding: 5px;
    /* display: flex; */
    text-align: center;
    margin: 0 auto;
}

.socials {
    display: flex;
    /* justify-self: center; */
    /* align-self: center; */
    /* margin: 0 auto; */
    padding: 5px;
    /* align-content: center; */
    justify-content: center;

}

.socials a {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 5px;
    /* align-content: center; */
    margin: 5px;
    justify-content: center;
    /* margin: 0 auto; */

    border: 1px solid black;
    border-radius: 50px;
    /* background-color: orange; */
}

.socials a svg {
    /* display: flex; */
    width: 32px;
    height: 32px;
    align-self: center;

    padding: 5px;




}

#videolink {
    display: flex;
    justify-self: center;
}