* {
    /* border: 1px solid red; */
}

:root {
    /* +++++ LIGHT MODE COLOR SCHEME +++++ */
    --color1: ;
    --color2: ;
    --color3: ;
    --black: #000000;
    --white: #ffffff;

    --gray: #bbbbbb;
    /* +++++ END LIGHT MODE COLOR SCHEME +++++ */

    /* === NOTE: DARK MODE COLOR SCHEME IS AT VERY END OF DOCUMENT === */
}





body {
    font-family: "Noto Sans JP", sans-serif;

    color: var(--black);
    background-color: var(--white);



}

h1,
h2 {
    text-align: center;
}

li {
    text-decoration: none;
    list-style-type: none;
}

div {
    justify-self: center;
    text-align: left;
    margin: 10px;
    padding: 5px;
    /* width: 500px; */
}

.box-content {
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 10px;

}

img {
    display: flex;
    justify-self: center;
}